.shoppinglist__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: 2px solid lemonchiffon;
}

.shoppinglist__item__product {
    color: white;
}

.shoppinglist__item__quantity {
    color: black;
}